__pycache__/
*.py[cod]
*.egg-info/
.pdm-build/
.pdm-python
.pdm.toml
.venv/
venv/
.env
*.sqlite3
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
temp/
tests/
*.md
!README.md
.idea/
.vscode/
